@import '~@/common/base';
$popup-width: 260px;
html,
body {
  width: $popup-width;
  height: 330px;
  overflow: hidden;
}
.popup {
  width: $popup-width;
  text-align: center;
  .text-container {
    display: none;
  }
  &.is-edit {
    .text-container {
      display: block;
    }
    .more-link,
    .qr-code {
      display: none;
    }
  }
}

.popup-content {
  margin: 4px;
}
