@import '~@/common/base';
.text-container {
  @include size(240px, 260px);
  margin: 8px auto 0;
  position: relative;

  textarea {
    width: 100%;
    height: 240px;
    border-radius: 4px;
    padding: 8px;
    resize: none;
    font-size: 14px;
    border-radius: 4px;
    @include hyphens;
    border: 1px solid #dcdfe6;

    &:focus {
      border-color: #409eff;
      outline: none;
    }
  }

  .action-btn {
    text-align: center;
    a {
      margin-left: 4px;
    }
  }
}
