{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 110,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "src/ui/styles.css",
  "tailwindFunctions": ["cn", "cva"]
}
