@import '~@/common/base';
.navi {
  .app-name {
    padding: 20px 0 20px 20px;
    font-size: 18px;
    color: $main-color;
    display: block;
  }
  .navi-menu {
    border-right: none;

    .navi-menu-item {
      color: #999;
      height: 25px;
      line-height: 25px;
      text-decoration: none;
      display: block;
      position: relative;
      padding-left: 20px;
      margin-bottom: 2px;

      &:hover {
        color: currentColor;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        border-left: 6px solid transparent;
      }
      &.navi-selected {
        font-weight: bolder;
        background-color: unset;
        color: #666;
        pointer-events: none;

        &::before {
          border-left-color: #666;
        }
      }
    }
  }
}
