.title {
  font-size: 16px;
  color: #333;
  padding-top: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid #ccc;

  small {
    font-size: 0.8em;
    color: #666;
  }
  .anticon {
    cursor: pointer;
    margin-left: 4px;
  }
}
