* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-scrollbar {
    height:8px;
    width:8px
}
::-webkit-scrollbar-button {
    height:0;
    width:0
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display:block
}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display:none
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style:solid;
    border-color:transparent
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{
    background-clip:padding-box;
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip:padding-box;
    background-color:rgba(0,0,0,.2);
    min-height:28px;
    padding-top:100px;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);
    background-color:rgba(0,0,0,.4)
}
::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);
    background-color:rgba(0,0,0,.5)
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-width:0;
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.05)
}
::-webkit-scrollbar-track:active {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
    background-color:rgba(0,0,0,.05)
}
html,body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	min-width: 900px;
	background-color: white;
	font-family: 'Century Gothic', 'Microsoft YaHei', Verdana;
	/*overflow: hidden;*/
}

aside {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 100;
	background-color: #fff;
}

aside .app-name{
	width: 100%;
	margin: 0;
	padding: 20px 0 10px 20px;
	font-size: 17px;
	color: #08c;
	cursor: default;
}

.ovHidden {
	overflow: hidden;
}

.nav{
	width: 90%;
	list-style-type: none;
	margin: 0;
	margin-top: 20px; 
	padding: 0;
}

.nav>li{
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 5px 0 5px 18px;
	border-left: 6px solid white;
	text-decoration: none;
	cursor: pointer;
}

.nav a{
	color: #999;
	text-decoration: none;
}
.nav>li a {
	display: block;
	width: 100%;
}
.nav>li.current{
	border-left-color: #666;
}
.nav>li.current a {
	font-weight: 600;
	color: #444;
	cursor: default;
}

section{
	position: absolute;
	float: left;
	width: 750px;
	left: -1000px;
	color: #333;
	top: 0;
	transition: left 200ms, opacity 100ms;
	visibility: hidden;
	padding: 0 20px 0 0;
	z-index: 90;
	font-size: 14px;
}
section:target{
	visibility: visible;
	left: 200px;
}

.setting-title{
	padding: 21px 0 8px;
	border-bottom: 1px inset #ccc;
	font-size: 22px;
	font-weight: normal;
}

.setting-title i{
	font-size: .8em;
}

.setting-content{
	margin: 10px 0;
}
.setting-content .rule-switch {
	margin: 20px 0;
}

.setting-content .item-title {
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
	padding: 4px 0;
	font-size: 18px;
}

.setting-content .item-title .rule-cunt {
	display: inline;
	font-size: 0.8em;
	color: #999;
}

/*input field style*/
.input-field {
	height: 55px;
	margin-right: 4px;
}


.input-field .input, .input-field button {
	font-family: 'Century Gothic', 'Microsoft YaHei', Verdana;
}
.input-field input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.rule-field:after{
	content: '';
	display: block;
	float: none;
	clear: both;
	margin-bottom: 20px;
}
.rule-field .field-block{
	float: left;
}
.field-block .label,.field-block .input{
	display: block;
	width: 100%;
}
.field-block .label {
	margin-bottom: 4px;
}
.field-block.separator .input {
	line-height: 28px;
}
.field-block.protocol{
	width: 10%;
}
.field-block.host{
	width: 25%;
}
.field-block.path{
	width: 30%;
}

/*.setting-content .tips{
	height: 30px;
	width: 100%;
}*/

.arrow_box {
	position: relative;
	background: #d5c744;
	border: 2px solid #f5d362;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(213, 199, 68, 0);
	border-bottom-color: #d5c744;
	border-width: 10px;
	left: 50%;
	margin-left: -10px;
}
.arrow_box:before {
	border-color: rgba(245, 211, 98, 0);
	border-bottom-color: #f5d362;
	border-width: 13px;
	left: 50%;
	margin-left: -13px;
}

table.rules {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border-radius: 3px;
	cursor: default;
}

table.rules thead {
	border-bottom: 1px solid #ccc;
	text-align: left;
	font-weight: normal;
	font-size: 16px;
}

table.rules thead th{
	font-weight: 500;
}

table.rules tbody {
	font-size: 14px;
}

table.rules td,table.rules th {
	padding: 8px 4px;
}

table.rules tbody tr {
    border-bottom: 1px solid #ccc;
}

/*table.rules tbody tr:nth-child(odd) {
	background-color: whitesmoke;
}*/
table.rules tbody tr.checked {
	background-color: whitesmoke;
}
table.rules tbody tr:hover {
	background-color: #ddd;
}



/*table.rules tbody tr.checked:hover{
    background-color: #fcd056;
}*/

table.rules tr td:nth-child(2) {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

table.rules tr td:nth-child(3),table.rules tr th:nth-child(3) {
	text-align: center;
	cursor: pointer;
}

table.rules tbody tr td:nth-child(3) {
	opacity: 0;
}
table.rules tbody tr:hover td:nth-child(3) {
	opacity: 1;
}
table.rules tbody tr td:nth-child(3):hover {
	color: red;
}

.align-center {
	text-align: center;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-webkit-keyframes fadeOutUp {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
}

@-webkit-keyframes fadeOutDown {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
}

.animated,.rules tbody tr {
	-webkit-animation-duration: .2s;
	        animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.fadeInDown {
	-webkit-animation-name: fadeInDown;
	/*animation-name: fadeInDown;*/
}

.animated.fadeOutUp {
	-webkit-animation-name: fadeOutUp;
	/*animation-name: fadeOutUp;*/
}
.rules tbody tr.fadeOutDown {
	-webkit-animation-name: fadeOutDown;
}
#overlay-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 199;
	-webkit-transition: 200ms all;
}

#overlay-box {
  display: -webkit-box;
	-webkit-box-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  
  background-color: rgba(255, 255, 255, 0.45);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  padding: 20px;
  right: 0;
  top: 0;
}

#overlay {
	min-width: 500px;
	min-height: 100px;
	-webkit-border-radius: 3px;
	-webkit-box-orient: vertical;
	-webkit-transition: 200ms -webkit-transform;
	background: white;
	box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0,0,0,0.15);
	color: #333;
	padding: 10px;
	position: relative;
	z-index: 200;
	-webkit-user-select: none;
}
.dialog {
	cursor: default;
	font-size: 18px;
}
.dialog .dialog-close {
	position: absolute;
	top: 6px;
	right: 6px;
	width: 14px;
	height: 14px;
	cursor: default;
	vertical-align: middle;
	background: #fff url(/img/close.png) no-repeat center;
}

.dialog .dialog-close:hover {
	background: #fff url(/img/close-hover.png) no-repeat center;
}

.dialog .dialog-title {
	width: 100%;
	/*margin: 0 0 10px;*/
}

.dialog .dialog-content {
	font-size: 0.9em;
	color: #666;
	margin: 10px 0;
}

.dialog .dialog-btns{
	width: 100%;
	text-align: right;
	font-size: 0.78em;
}