body{
	min-width: 900px;
	background-color: white;
	font-family: 'Lucida Grande', sans-serif;
}

.sidebar{
	position: fixed;
	top: 0;
	left: 0;
	width: 155px;
	height: 100%;
	padding: 0;
	margin: 0;
	z-index: 100;
	background-color: #fff;
}
section{
	position: absolute;
	float: left;
	width: 750px;
	left: -1000px;
	top: 0;
	transition: left 200ms, opacity 100ms;
	visibility: hidden;
	padding: 0 20px 0 40px;
	z-index: 90;
}
section:target{
	visibility: visible;
	left: 150px;
}
.sidebar .title{
	width: 100%;
	margin: 0;
	padding: 20px 0 10px 20px;
	font-size: 18px;
	color: #08c;
	cursor: default;
}

.nav{
	width: 100%;
	list-style-type: none;
	margin: 0;
	margin-top: 20px; 
	padding: 0;
}

.nav>li{
	width: 100%;
	display: block;
	font-size: 14px;
	padding: 5px 0 5px 18px;
	border-left: 6px solid transparent;
	text-decoration: none;
	color: grey;
	cursor: pointer;
}

.nav a{
	color: #999;
	text-decoration: none;
}
.nav>li:hover{
	color: #333;
}
.nav>li.current{
	border-left-color: #666;
	font-weight: 600;
	color: #333;
}

.setting-item{

}
.setting-item .setting-content,.setting-item .list-wrapper{
	margin: 10px 0;
	padding: 5px 0 8px;
}
.setting-item .title{
	padding: 21px 0 13px;
	border-bottom: 1px inset #ccc;
	color: #666;
	font-size: 18px;
	font-weight: normal;
}

.input-area:after{
	content: '';
	display: block;
	float: none;
	clear: both;
}

.input-area .input-wrapper{
	float: left;
}

.input-wrapper .label,.input-wrapper .input{
	display: block;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.input-wrapper.separator{
	margin: 0 4px;
}

.input-wrapper.protocol{
	width: 10%;
}

.input-wrapper.host{
	width: 25%;
}

.input-wrapper.path{
	width: 30%;
}

.setting-content .tips{
	height: 30px;
	width: 100%;
}
.list-wrapper > div{
	float: left;
}
.list-wrapper:after{
	content: '';
	display: block;
	float: none;
	clear: both;
}

.list-content{
	width: 71%;
}
.rule-guide{
	width: 29%;
}
.list-header{
	padding: 5px 0 10px;
	border-bottom: 1px solid #ccc;
}

.list-header:after{
	content: '';
	display: block;
	float: none;
	clear: both;
}

.list-header>div{
	float: left;
}

.list-header .row-num{
	width: 20%;
}

.list-header .rule{
	width: 38%;
}

.list-header .options{
	width: 42%;
	text-align: right;
}

.list-body{
	counter-reset:li;
	list-style: none;
	font-size: 14px;
	margin: 0;
	padding-left: 0;

}

.list-body li{
	position: relative;
	padding: 8px;
	/*width: 100%;*/
	padding-left: 20%;
	color: #555;
}

.list-body li:before{
	content:counter(li)  '.';
    counter-increment:li;
    position: absolute;
    left: 0;
    color: #999;
}

.list-body li span{
	display: inline-block;
}

.list-body .li-rule{
	width: 80%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.list-body .li-delete{
	width: 18%;
	text-align: center;
	cursor: pointer;
}

.list-body li:nth-child(odd){
	background-color: whitesmoke;
}
