<!DOCTYPE html>
<!-- platform-* 'darwin'(苹果), 'freebsd', 'linux', 'sunos' or 'win32'(windows) -->
<html class="platform-<%= process.platform%>">
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.pageTitle %></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
