* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  font-size: inherit;
}

a {
  color: #08c;
}

@import './widgets';

@mixin size($width, $height: 0) {
  @if $height <= 0 {
    $height: $width
  }
  width: $width;
  height: $height;
}

// 
// auto hyphens
@mixin hyphens {
  word-break: break-all;
  hyphens: auto;
}
