body {
	font-family: 'Century Gothic', 'Microsoft YaHei', Verdana;
}
::-webkit-scrollbar {
    height:8px;
    width:8px
}
::-webkit-scrollbar-button {
    height:0;
    width:0
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display:block
}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display:none
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style:solid;
    border-color:transparent
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{
    background-clip:padding-box;
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip:padding-box;
    background-color:rgba(0,0,0,.2);
    min-height:28px;
    padding-top:100px;
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);
    background-color:rgba(0,0,0,.4)
}
::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);
    background-color:rgba(0,0,0,.5)
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-width:0;
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.05)
}
::-webkit-scrollbar-track:active {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
    background-color:rgba(0,0,0,.05)
}
body {
  margin: 0;
  min-width: 260px;
}
a {
	color: #08c;
	/*text-decoration-style: dashed;*/
}
#tips-wraper {
	color: #555;
  padding: 4px;
  text-align: center;
	font-size: 16px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}
#tips-wraper span {
	color: #999;
	font-size: 0.8em;
}
#code {
	width: 250px;
	height: 250px;
  margin: 4px;
	position: relative;
	text-align: center;
}
#text-wrapper {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 240px;
  margin: 0 auto;
  margin-top: 8px;
	height: 215px;
	border: 1px solid #bbb;
	border-radius: 3px;
	/*border-color: #bbb;*/
	position: relative;
}
#text-wrapper.focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#text-wrapper.focus.error {
	border-color: #b94a48;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392;
}
#text {
	position: absolute;
	border: none;
	outline: none;
	padding: 3px;
	resize: none;
	text-align: left;
	word-break: break-all;
	top: 0;
	left: 0;
	right: 0;
  width: 100%;
	bottom: 20px;
}
#text:focus {
	box-shadow: none;
}
#fun {
	position: absolute;
	font-size: .9em;
	height: 20px;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	/*right: 2px;*/
}
#ntwk-error {
	color: #b94a48;
}
#long-error {
	color: #b94a48;
	float: left;
	margin-left: 4px;
}
#letter-cunt {
	float: right;
	margin-right: 4px;
}
#make {
	margin-top: 4px;
	font-size: 14px;
}
#make:active {
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px inset;
	background-color: rgb(118, 163, 18);
	color: rgb(72, 105, 0);
}
#qrcode-wrapper {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: left;
  background: #fff url(../common/css/loadinfo.gif) no-repeat center center;
}
#qrcode-wrapper img {
  width: 250px;
  height: 250px;
  display: none;
}
#qrcode-wrapper span {
  display: none; 
}
#qrcode-wrapper.error {
  background: #fff;
}
#qrcode-wrapper.error img {
  display: none;
}
#qrcode-wrapper.error span {
  display: block;
}
#qrcode-wrapper.loaded img {
  display: block;
}
#qrcode-wrapper.loaded span {
  display: none;
}
