body {
	font-family: 'Lucida Grande', sans-serif;
}
::-webkit-scrollbar {
    height:8px;
    width:8px
}
::-webkit-scrollbar-button {
    height:0;
    width:0
}
::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment {
    display:block
}
::-webkit-scrollbar-button:vertical:start:increment,::-webkit-scrollbar-button:vertical:end:decrement {
    display:none
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal,::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-style:solid;
    border-color:transparent
}
::-webkit-scrollbar-track:vertical::-webkit-scrollbar-track:horizontal{
    background-clip:padding-box;
    background-color:#fff;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow:inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    background-clip:padding-box;
    background-color:rgba(0,0,0,.2);
    min-height:28px;
    padding-top:100
}
::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow:inset 1px 1px 1px rgba(0,0,0,.25);
    background-color:rgba(0,0,0,.4)
}
::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow:inset 1px 1px 3px rgba(0,0,0,.35);
    background-color:rgba(0,0,0,.5)
}
::-webkit-scrollbar-track:vertical,::-webkit-scrollbar-track:horizontal,::-webkit-scrollbar-thumb:vertical,::-webkit-scrollbar-thumb:horizontal {
    border-width:0;
}
::-webkit-scrollbar-track:hover {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.1);
    background-color:rgba(0,0,0,.05)
}
::-webkit-scrollbar-track:active {
    -webkit-box-shadow:inset 1px 0 0 rgba(0,0,0,.14),inset -1px -1px 0 rgba(0,0,0,.07);
    background-color:rgba(0,0,0,.05)
}
a {
	color: #08c;
	/*text-decoration-style: dashed;*/
}
#tips-wraper {
	color: #777;
	margin: 6px auto;
}
#tips-wraper span {
	color: #999;
	font-size: 0.9em;
}
#code {
	width: 200px;
	height: 200px;
	position: relative;
	text-align: center;
}
#text {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 165px;
	padding: 3px;
	resize: none;
	text-align: left;
	border-radius: 3px;
}
#text:focus {
	outline: none;
	border-color: #08c;
	box-shadow: 2px 2px 3px rgba(223,223,223,.6), -2px -2px 3px rgba(223,223,223,.6);
}
#make {
	background-color: rgb(143, 207, 0);
	border-radius: 3px;
	border: none;
	box-shadow: rgba(45, 155, 220, 0.631373) 0px 0px 11px 0px, rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
	color: rgb(255, 255, 255);
	vertical-align: middle;
	padding: 4px;
}
#make:active {
	box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 3px 0px inset;
	background-color: rgb(118, 163, 18);
	color: rgb(72, 105, 0);
}
#qrcode {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: left;
	background-color: #fff;
}

code {
	color: red;
	font-style: italic;
}